.box{
    width: 100px;
    height: 100px;
    background-color: cadetblue;
    border: 5px solid darkhead;
    padding:10px;
    margin: 10px auto;
    box-sizing: border box;
}
.bpx{
    width:100px;
    height:100px;
    background-color: cadetblue;
    border: 5px 
}